[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "==2.1.2"
flask-sqlalchemy = "==2.5.1"
sqlalchemy = "==1.4.37"

[dev-packages]

[requires]
python_version = "3.11"
